/*  GENERAL
===========*/
body.oath-lightbox-visible {overflow:hidden;}
#oath-lightbox {display:none; position:fixed; z-index:99999; width:100%; height:100%; background:rgba(0,0,0,0.8); overflow:scroll; padding:10% 20%; box-sizing:border-box;}
#oath-login-form-design-form {display:none;}

#oath-result {display:none;}
.oath-login-message{text-align:center; left:0; right:0; top:5px; position:absolute; font-size:1em; z-index:999999;}
.oath-login-message span {padding:4px 6px; background:#fff; color:#000; border-radius:5px; display:inline-block;}

/*  SETTINGS PAGE
=================*/
#oath-measurements {margin-bottom:5px;}
.oath-measurement {background:#ccc; border-radius:5px;}
.oath-measurement-label {margin-top:1em; margin-bottom:0.25em;}
.oath-measurement-rating {padding:3px; background:#2EA2CC; border-radius:5px; -webkit-transition:all 1s ease;}

#wpoa_login_redirect_page {display:none;}
#wpoa_logout_redirect_page {display:none;}

#oath-settings-meta {float:right; text-align:right; color:#999; padding-top:9px;}
#oath-settings-meta ul {display:inline; margin-left:0;}
#oath-settings-meta li {display:inline; margin-left:0.5em;}

#oath-rate-5stars {}
#oath-rate-5stars:hover {}

#oath-logo {margin-left:0.5em; margin-bottom:0.5em; width:64px; height:64px; float:right; background-image:url(http://ps.w.org/wp-oauth/assets/icon-128x128.png);}
#oath-logo:hover {background-image:url(http://ps.w.org/wp-oauth/assets/thepb.jpg);}

#oath-settings-col1 {width:68%; float:left;}
#oath-settings-col2 {width:30%; float:right;}

#oath-settings-header {margin-top:1em;}
#oath-settings-header nav ul {display:inline; margin-left:0;}
#oath-settings-header nav li {display:inline; margin-bottom:-1px;}
#oath-settings-header nav li:after {content:' | ';}
#oath-settings-header nav li:first-child {margin-top:0.5em;}
#oath-settings-header nav li:last-child:after {content:none;}
#oath-settings-header .nav-splitter {display:inline; margin-left:1em;}
@media all and (max-width:720px) {
	#oath-settings-header nav {margin-top:0.5em;}
	#oath-settings-header nav ul {display:block; margin-top:0; border:0 solid rgba(0,0,0,0.1); border-width:0 0 1px 1px;}
	#oath-settings-header nav li {display:block; text-align:center; border:0 solid rgba(0,0,0,0.1); border-width:1px 1px 0 0; box-sizing:border-box;}
	#oath-settings-header nav li:after {content:none;}
	#oath-settings-header nav a {display:block; text-align:center; padding:0.25em; text-decoration:none;}
	#oath-settings-header nav li:hover {background:rgba(0,0,0,0.05);}
	#oath-settings-header .nav-splitter {display:none;}
	#oath-settings-col1 {width:auto; float:none;}
	#oath-settings-col2 {width:auto; float:none;}
}

#oath-plugin-info {margin-bottom:1em; background-color:#fff9d8; padding-left:1em; padding-right:1em; border-radius:1em; border:1px solid #e7dca4;}
#oath-plugin-info nav {margin-top:0.5em; margin-bottom:0.25em;}
#oath-plugin-info nav + nav {margin-top:0.25em; margin-bottom:0.5em;}
#oath-plugin-info #paypal-button {display:inline-block; vertical-align:middle;}
#oath-plugin-info #paypal-button input {padding:0;}
#oath-paypal-button {float:right;}

.oath-settings-section {background-color:#fff; margin-bottom:1.5em; border:1px solid #ddd;}
#oath-settings-intro {border-radius:15px; text-align:center;}
#oath-settings-intro nav {margin-top:0.5em; margin-bottom:0.5em;}
#oath-settings-intro nav + nav {padding-top:0.5em; margin-bottom:0.5em; border-top:1px solid #eee;}

.oath-settings div {box-sizing:border-box;}
.oath-settings .submit {padding:0;}
.oath-settings .form-table {margin-top:0;}
.oath-settings .form-padding {padding:0 1em 1em 1em; position:relative; z-index:1;}
.oath-settings ul {list-style:inherit; margin-left:2em;}
.oath-settings h3 {margin:0; cursor:pointer; color:#999; padding:0.5em; font-style:italic; text-transform:uppercase; border-bottom:1px solid #eee; font-size:1.5em; -webkit-transition:all 0.5s ease;}
.oath-settings h3:hover {color:#000;}
.oath-settings h4 {margin:0; color:#999; font-size:1.1em; font-style:italic; text-transform:uppercase; border-bottom:1px solid #eee; padding-bottom:5px;}
.oath-settings hr {border:0; margin-bottom:1em;}
.oath-settings input[type=text],
.oath-settings input[type=checkbox],
.oath-settings input[type=radio],
.oath-settings select,
.oath-settings textarea {margin:0;}
.oath-settings select {min-width:150px;}
.oath-settings .tip-button {text-decoration:none; opacity:0; transition:all 0.5s ease;}
.oath-settings tr:hover .tip-button {opacity:1;}
.oath-settings .has-tip:hover .tip-button {opacity:1;}
.oath-settings .form-table td {vertical-align:top;}
.oath-settings .form-table th {padding-top:1em; padding-bottom:0.25em;}
.oath-settings .form-table th .heading {}
.oath-settings .form-table td {padding-top:1em; padding-bottom:0.25em;}
.oath-settings .tip-message {display:none; font-size:0.8em; color:#aaa; border-radius:3px;}
.oath-settings .tip-message.tip-warning {padding:1em; background:#fffd6c; color:#000;}
.oath-settings .tip-message.tip-info {padding:1em; background:#ddeeff; color:#000;}

.oath-settings .validation-warning {font-size:0.8em; padding:1em; background:#ff0000; color:#fff;}

/* inspired by a css-tricks article: */
#oath-heart {
	position:absolute;
	left:0;
	margin-left:50%;
	-webkit-transform:translate(-50%,-50%);
	width:100px;
	height:90px;
	top:40%;
	opacity:0;
	-webkit-transition:all 5s ease;
	z-index:-1;
}
#oath-heart:before,
#oath-heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#oath-heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

/*  LOGIN FORM STYLES
=====================*/
#oath-title {font-size: 1em; margin-bottom:0.5em;}
.oath-login-form {margin-bottom:1em;}
.oath-login-button:focus {outline:0; background-color:#ddd;}
.oath-logout-button:focus {outline:0; background-color:#ddd;}
.oath-login-button .icon {vertical-align:middle; margin-left:0.25em; margin-right:0.25em; height:32px;}

/* title / button alignment */
.oath-layout-align-left {}
.oath-layout-align-left #oath-title {text-align:left;}
.oath-layout-align-left nav {text-align:left;}
.oath-layout-align-center{}
.oath-layout-align-center #oath-title {text-align:center;}
.oath-layout-align-center nav {text-align:center;}
.oath-layout-align-right {}
.oath-layout-align-right #oath-title {text-align:right;}
.oath-layout-align-right nav {text-align:right;}

/* links-row layout */
.oath-layout-links-row {}
.oath-layout-links-row a {display:inline; margin-right:0.5em;}

/* links-column layout */
.oath-layout-links-column {}
.oath-layout-links-column a {display:inline; margin-bottom:1px;}
.oath-layout-links-column a:after {content:"\A"; white-space:pre;} /* insert a break to convert the row into a column */

/* buttons-row layout */
.oath-layout-buttons-row {}
.oath-layout-buttons-row a {border:2px solid transparent; box-sizing:border-box; display:inline-block; text-decoration:none; text-align:center; font-size:1em; padding:10px; background:#1e8cbe; color:#fff; margin-bottom:1px; margin-right:1px; -webkit-transition:all 0.5s ease; cursor:pointer;}
.oath-layout-buttons-row a:hover {background:#c5c5c5;}
.oath-layout-buttons-row a.loading{background:transparent !important; color:#999; cursor:default; border:2px solid #000;}
.oath-layout-buttons-row a.loading-other{background:rgba(255,255,255,0) !important; color:#999; cursor:default;}

/* buttons-column layout */
.oath-layout-buttons-column {}
.oath-layout-buttons-column a {border:2px solid transparent; box-sizing:border-box; display:block; text-decoration:none; text-align:center; font-size:1em; padding:10px; background:#1e8cbe; color:#fff; margin-bottom:1px; -webkit-transition:all 0.5s ease; cursor:pointer;}
.oath-layout-buttons-column a:hover {background:#c5c5c5;}
.oath-layout-buttons-column a:hover .icon {}
.oath-layout-buttons-column a.loading{background:transparent !important; color:#999; cursor:default; border:2px solid #000;}
.oath-layout-buttons-column a.loading-other{background:rgba(255,255,255,0) !important; color:#999; cursor:default;}

/*  LINK-UNLINK PROVIDERS FORM STYLES
=====================================*/
.oath-linked-accounts {font-weight:bold;}